{% extends "index.html" %}
{% block content %}
    {% include "action/table.html" %}
	<div class="col-sm-4">
		<div class="panel">
			<div class="panel-head">
				<h3>Left Food Container</h3>
			</div>
			<div class="panel-body">
				{% if config['GPIOPIN_LEFT'] is not none %}
					<button id="dispense_left" type="button" class="button button-default" data-dir="left">Dispense!</button>
				{% else %}
					<div class="alert alert-info">
						<strong>DISABLED</strong>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="panel">
			<div class="panel-head">
				<h3>Right Food Container</h3>
			</div>
			<div class="panel-body">
				{% if config['GPIOPIN_RIGHT'] is not none %}
					<button id="dispense_right" type="button" class="button button-default" data-dir="right">Dispense!</button>
				{% else %}
					<div class="alert alert-info">
						<strong>DISABLED</strong>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="panel">
			<div class="panel-head">
				<h3>Configuration</h3>
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label for="time">Rotation Time</label>
					<input type="number" id="time" size="3" maxlength="3" min="1" max="5" placeholder="{{ config['ROT_TIME'] }}"></input>
				</div>
				<div class="form-group">
					<label for="testing">Just Testing</label>
					<input type="checkbox" id="testing" />
				</div>
			</div>
		</div>
		<div class="panel">
			<div class="panel-head">
				<h3>Automatic Feed Settings</h3>
			</div>
			<div class="panel-body">
				<span>Coming soon!</span>
			</div>
		</div>
	</div>
	<script>
		(function($){
			$(document).ready(function(){
				$.PiFeeder.urls = {
					'feed' : "{{FEED_URL}}",
					'actions' : "{{ACTION_URL}}"
				};
				$.PiFeeder.getActions();
			});
		})(jQuery);
	</script>
{% endblock %}
