{% extends "index.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                <form method="POST" role="form" name="login_form" id="login_form" action="login">
                    <h2>Feeder Login</h2>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email" tabindex="1" required maxlength="64">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" tabindex="2" required maxlength="40">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
                            <input type="submit" value="Login" class="btn btn-primary btn-block btn-lg" tabindex="3">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}