.table-bordered th
.table-bordered td
{
    padding: 5px 10px;
}

table
{
    width: 100%;
    font-size: 20px;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)  {

        /* Force table to not be like tables anymore */
        table, thead, tbody, th, td, tr {
            display: block;
        }

        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        tr { border: 1px solid #ccc; }

        td {
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 50% !important;
        }

        td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }

        /*
        Label the data
        */
        td:nth-of-type(1):before { content: "User"; }
        td:nth-of-type(2):before { content: "Action"; }
        td:nth-of-type(3):before { content: "Time"; }
    }

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-device-width : 380px) {
    body {
        padding: 0;
        margin: 0;
        width: 380px;
    }
}

table td{
    padding: 2% 2%;
}
