{% extends "index.html" %}
{% block content %}
    <div class="container">
        <h3>Actions</h3>
        <div class="table-responsive hide">
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Action</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
